<div class="jumbotron">
  <h2>Add questions to "<%= @survey.title %>"</h2>

  <% if !@errors.empty? %>
  <ul class="errors">
    <% @errors.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>

  <% @survey.questions.order(:created_at).includes(:options).each do |question| %>
  <div class="question">
  <p><%= question.query %></p>
  <% options = question.options.includes(:chosen_options) %>
  <div class="option-list">
  <% options.each do |option| %>
    <div>
      <%= option.response %>
    </div>
  <% end %>
  </div>
  <% end %>

  <%= erb :"questions/_new_question_form", layout: false %>

  <a href="/">Done</a>
</div>