<div>
  <h2>Profile</h2>
  <h3><%= @user.username %></h3>
  <div id='survey-created-list'>
    <h3>Surveys Created</h3>
    <p><a id="create-new-survey" href="/surveys/new">Create a new survey here</a></p>
      <% @author_surveys.each do |survey| %>
      <div class="authored-surveys" id="<%= survey.id %> <%= survey.author_id %>">
        <a href="/users/<%= @user.id %>/surveys/<%= survey.id%>"><%= survey.title %></a><p> on <%= survey.created_at.strftime("%b %d, %Y")%></p>
         <div id="stats-append-area class="<%= survey.id %>"></div>
      </div>
    <% end %>

  </div>

  <div id='survey-taken-list'>
    <h3>Surveys Taken</h3>
      <% @taken_surveys.each do |survey| %>
      <% author = User.find(survey.author_id) %>
      <div class="taken-surveys"><p><%= survey.title %></p><p> | by <%= author.username %> on <%= survey.created_at.strftime("%b %d, %Y")%></p></div>
    <% end %>
  </div>
</div>