<div>
  <h2>Profile</h2>
  <h3><%= @user.username %></h3>
  <div id='survey-created-list'>
    <h3>Surveys Created</h3>
      <% @surveys_author do |survey| %>
      <div class="authored-surveys"><a href="/users/<%= user.id %>"><%= survey.title %></a><p> on <%= survey.created_at.strftime("%b %d, %Y")%></p></div>
    <% end %>
  </div>

  <div id='survey-taken-list'>
    <h3>Surveys Taken</h3>
      <% @surveys_taken do |survey| %>
      <div class="taken-surveys"><p><%= survey.title %></p><p> | by <%= @author %> on <%= survey.created_at.strftime("%b %d, %Y")%></p></div>
    <% end %>
  </div>
</div>