<div class="jumbotron">
  <div class="<%= survey.id%>" id="partial-survey">
    <% questions.each do |question| %>
      <p>Question: <%= question.query %><p>
      <% possible_responses = question.options %>
      <% possible_responses.each do |possible_response| %>
      <% val = 0 %>
      <% choice = possible_response.response %>
          <p> <%=  choice %> </p>
        <% options = ChosenOption.where(survey_id: survey.id) %>
        <% options.each do |person_options| %>
          <% person_option_chosen = Option.find(person_options.option_id)%>
          <% if person_option_chosen.response == choice %>
            <% val += 1 %>
            <p></p>
          <% end %>
        <% end %>
        <p><%= val %> out of <%= question.chosen_options.count %> users chose this answer</p>
      <% end %>

    <% end %>
  </div>
  <form method="post" action="/users/<%= user.id %>/surveys/<%= survey.id %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Survey" class="button">
  </form>
</div>